body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tag {
  @apply px-2 py-1 border border-gray-400 gap-1 inline-flex rounded-full text-sm bg-gray-300 items-center;
}

.tag > button {
  @apply px-2 rounded-full bg-gray-700 text-white items-center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
